[SETUP]
# Number of seconds to pause between command execution loop
# 0 is no pause, greater than 60 will cause service restarts
pause=5
mqtt_broker=localhost

# This example would work on 2x PIP4048 installed in parallel
[Inverter_1]
protocol=PI30
port=/dev/ttyUSB0
porttype=serial
baud=2400
command=QPGS0
tag=QPGS0
outputs=mqtt,screen

[Inverter_2]
port=/dev/ttyUSB0
baud=2400
command=QPGS1
tag=QPGS1
outputs=screen,mqtt

# This example would work on a single LV5048
[Inverter1_LV5048]
protocol=PI41
port=/dev/hidraw0
baud=2400
command=QPGS0,QP2GS0
tag=Inverter1
outputs=influx2_mqtt
