# yaml config for powermon
device:
  name: Test_Inverter
  id: 123456789
  model: 8048MAX
  manufacturer: MPP-Solar
  port:
    type: test
    protocol: PI30MAX

commands:
- command: QPIGS
  type: basic #so far not neccessary, might remove
  outputs:
  - type: screen
    # format: hass
    # format: raw
    # format: simple
    # format: table
    format: 
      type: htmltable
      #keep_case: True
      #remove_spaces: False
      #extra_info: True
      filter: ^ac|^pv
